*{
    margin: 0;
    padding: 0;
}

*html
{
    background-image: url(about:blank);
    background-attachment: fixed;
}
.xubox_shade, .xubox_layer
{
    position: fixed;
    _position: absolute;
}
.xubox_shade
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}
.xubox_layer
{
    top: 150px;
    left: 50%;
    height: auto;
    width: 310px;
    margin-left: -155px;
	border:3px #bbdfff solid;
}

.xubox_border, .xubox_title, .xubox_title i, .xubox_page, .xubox_iframe, .xubox_title em, .xubox_close, .xubox_msgico, .xubox_moves
{
    position: absolute;
}
.xubox_border
{
    border-radius: 5px;
}
.xubox_title
{
    left: 0;
    top: 0;
}
.xubox_main
{
    position: relative;
    height: 100%;
/*    _float: left;*/
/*	padding:10px;*/
}
.xubox_page
{
    top: 0;
    left: 0;
}
.xubox_loadingMain
{
    text-decoration: none;
	padding:20px;
	_float: none;
}
.xubox_load
{
    background: url(default/xubox_loading0.gif) #fff no-repeat;
	
}
.xubox_loading
{
    display: inline-block;
    float: left;
    text-decoration: none;
    _float: none;
	vertical-align:middle;
}
.xubox_loadmsg
{
	line-height:20px;
	font-size:14px;
	margin-left:10px;
	margin-top:5px;
}
.xubox_msg
{ 
	display:inline-block; 
	float:left; 
	margin-left:10px
}

.xulayer_png32
{
    background: url(default/Info_ico.png) no-repeat;
}
.xubox_moves
{
    border: 3px solid #333;
    cursor: move;
    opacity: .7;
    filter: alpha(opacity=70);
}
.xubox_msgico
{
    width: 30px;
    height: 30px;
    top: 52px;
    left: 15px;
    background: url(default/Info_ico.png) no-repeat;
}
.xubox_text
{
    padding-left: 55px;
    float: left;
    line-height: 25px;
    word-break: break-all;
    padding-right: 20px;
    overflow: hidden;
    font-size: 14px;
}
.xubox_msgtype0
{
    background-position: -5px -62px;
}
.xubox_msgtype1
{
    background-position: -6px -28px;
}
.xubox_msgtype2
{
    background-position: -47px -28px;
}
.xubox_msgtype3
{
    background-position: -47px -63px;
}
.xubox_msgtype4
{
    background-position: -47px -63px;
}
.xubox_msgtype5
{
    background-position: -47px -63px;
}
.xubox_msgtype6
{
    background-position: -47px -63px;
}
.xubox_msgtype7
{
    background-position: -47px -63px;
}
.xubox_msgtype8
{
    background-position: -47px -63px;
}
.xubox_msgtype9
{
    background-position: -47px -63px;
}
.xubox_msgtype10
{
    background-position: -47px -63px;
}
.xubox_loading_0
{
    width: 37px;
    height: 37px;
    background: url(default/xubox_loading0.gif) no-repeat;
}
.xubox_loading_1
{
    width: 48px;
    height: 48px;
    background: url(default/xubox_loading1.gif) no-repeat;
}
.xubox_loading_2
{
    width: 32px;
    height: 32px;
    background: url(default/xubox_loading2.gif) no-repeat;
}
.xubox_loading_3
{
    width: 126px;
    height: 22px;
    background: url(default/xubox_loading3.gif) no-repeat;
}
.xubox_title
{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #d5d5d5;
	background-color:#eef7ff;
    cursor: move;
    font-size: 14px;
    color: #333;
}
.xubox_title em
{
    display: block;
    height: 20px;
    line-height: 20px;
    width: 80%;
    top: 9px;
    left: 10px;
    font-style: normal;
    overflow: hidden;
}
.xubox_close0
{
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-position: -3px -101px;
    cursor: pointer;
    overflow: hidden;
}
.xubox_close0:hover
{
    background-position: -23px -101px;
}
.xubox_close1
{
    right: -20px;
    top: -21px;
    width: 34px;
    height: 30px;
    background-position: -2px -120px;
    cursor: pointer;
    overflow: hidden;
    _right: 3px;
    _top: 3px;
    _width: 14px;
    _height: 14px;
    _background-position: -3px -101px;
}
.xubox_close1:hover
{
    background-position: -44px -120px;
    _background-position: -23px -101px;
}
.xubox_botton a
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
	background-color:#00A9FB;
}

.xubox_botton a:Link
{
	text-decoration: none;
}
.xubox_botton a:hover
{
    text-decoration: underline;
}
.xubox_botton .xubox_botton1
{
    width: 80px;
    height: 32px;
    line-height: 32px;
    margin-left: -39px;
    background-position: -6px -34px;
	background-color:#00A9FB;
}
.xubox_botton1:hover
{
    background-position: -6px -72px;
}
.xubox_botton .xubox_botton2
{
    margin-left: -76px;
    width: 80px;
    height: 29px;
    line-height: 29px;
    background-position: -5px -114px;
}
.xubox_botton2:hover
{
    background-position: -5px -146px;
	background-color:#9DB1C6;
}
.xubox_botton .xubox_botton3
{
    width: 80px;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    background-position: -81px -114px;
	background-color:#9DB1C6;
}
.xubox_botton3:hover
{
    background-position: -81px -146px;
}
.xubox_tips
{
    position: relative;
    padding: 2px 30px 2px 10px;
    line-height: 20px;
    font-size: 12px;
    _float: left;
}
.xubox_tips i.layerTipsG
{
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: transparent;
    border-style: dashed; *overflow:hidden}
.xubox_tips i.layerTipsT
{
    left: 12px;
    bottom: -12px;
    border-top-style: solid;
}
.xubox_tips i.layerTipsR
{
    left: -12px;
    top: 6px;
    border-right-style: solid;
}
.xubox_tips i.layerTipsB
{
    left: 12px;
    top: -12px;
    border-bottom-style: solid;
}
.xubox_tips i.layerTipsL
{
    right: -12px;
    top: 6px;
    border-left-style: solid;
}
.xubox_followtips
{
	position: relative;
    line-height: 20px;
    font-size: 12px;
	_float: left;
}
