
@charset "utf-8";
body {
    margin: 0;
}
.menu {
    background-color: #eef9fd;
    border-bottom: 2px solid #62c7f2;
    border-right: 2px solid #62c7f2;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 142px;
}
#accordion {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 111;
}
#accordion li {
    width: 142px;
}
#accordion li a {
    display: block;
    height: 33px;
    line-height: 33px;
    outline: medium none;
    text-decoration: none;
    width: 142px;
}
#accordion li a em {
    background: url("img/sprite.gif") no-repeat scroll -158px -22px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin: 0 5px 0 10px;
    vertical-align: middle;
    width: 5px;
}
#accordion li a.buy {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.buy:hover, .buyOver {
    background-color: #3cf;
}
#accordion li .buyOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion li a.sell {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.sell:hover, .sellOver {
    background-color: #3cf;
}
#accordion li .sellOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion li a.policy {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.policy:hover, .policyOver {
    background-color: #3cf;
}
#accordion li .policyOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion li a.order {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.order:hover, .orderOver {
    background-color: #3cf;
}
#accordion li .orderOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion li a.set {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.set:hover, .setOver {
    background-color: #3cf;
}
#accordion li .setOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion li a.report {
    background: none repeat scroll 0 0 #97daf7;
    border-bottom: 1px solid #26b9ff;
    border-top: 1px solid #cfedfa;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#accordion li a.report:hover, .reportOver {
    background-color: #3cf;
}
#accordion li .reportOver em {
    background: url("img/sprite.gif") no-repeat scroll -140px -22px rgba(0, 0, 0, 0);
}
#accordion ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 142px;
}
#accordion ul li {
    font-size: 12px;
    height: 32px;
    overflow: hidden;
}
#accordion ul li:hover {
    background-color: #d0f0ff;
}
#accordion ul li a {
    border-bottom: 1px dotted #ccc;
    color: #666;
    height: 31px;
    line-height: 31px;
    padding-left: 20px;
    text-decoration: none;
    text-indent: 0;
    width: 142px;
}
#accordion ul li a.last {
    border-bottom: medium none;
}
