@charset "utf-8";
.title_main .date {
	position:absolute;
	right:10px;
	top:0;
	font-size:12px;
	font-weight:100;
}
.bt_submit em, .bt_submit em em, .bt_submit32 em, .bt_submit32 em em, .bt_return em, .bt_submit28 em, .bt_submit28 em em, .bt_return em, .bt_return em em, .bt_refund, .bt_refund cite {
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -464px;
}
.bt_submit {
	border:0 none;
	background:none;
	overflow:visible;
	vertical-align:middle;
	cursor:pointer;
	font-family:simsun;
}
.bt_submit em {
	display:inline-block;
	height:30px;
	padding-left:22px;
	background-position:0 -464px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.bt_submit em em {
	display:block;
	padding-left:0;
	padding-right:22px;
	background-position:100% -504px;
}
.bt_submit32 {
	border:0 none;
	background:none;
	overflow:visible;
	vertical-align:middle;
	cursor:pointer;
	font-family:simsun;
}
.bt_submit32 em {
	display:inline-block;
	height:30px;
	padding-left:32px;
	background-position:0 -464px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.bt_submit32 em em {
	display:inline-block;
	padding-left:0;
	padding-right:32px;
	background-position:100% -504px;
}
.bt_submit28 {
	border:0 none;
	background:none;
	overflow:visible;
	vertical-align:middle;
	cursor:pointer;
	font-family:simsun;
}
.bt_submit28 em {
	display:inline-block;
	height:30px;
	padding-left:28px;
	background-position:0 -464px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.bt_submit28 em em {
	display:block;
	padding-left:0;
	padding-right:28px;
	background-position:100% -504px;
}
.bt_return {
	border:0 none;
	background:none;
	overflow:visible;
	vertical-align:middle;
	cursor:pointer;
	font-family:simsun;
}
.bt_return em {
	display:inline-block;
	height:30px;
	padding-left:32px;
	background-position:0 -700px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:700;
	color:#555;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.bt_return em em {
	display:inline-block;
	padding-left:0;
	padding-right:32px;
	background-position:100% -743px;
}
.bt_refund {
	height:22px;
	line-height:22px;
	white-space:nowrap;
	color:#555;
	font-weight:100;
	display:inline-block;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding-left:14px;
	background-position:0 -1520px;
	margin-left:22px;
}
.bt_refund cite {
	display:inline-block;
	padding-right:14px;
	padding-left:0;
	background-position:right -1548px;
	cursor:pointer;
}
.mdloading {
	width:950px;
	margin:0 auto 20px auto;
	text-align:center;
}
.mdloading .inner {
	padding:20px 0;
	text-align:center;
	font-size:14px;
}
.mdloading .inner .loading_tip {
	margin-top:20px;
}
.textbox {
	padding:1px 2px 0;
	padding-right:16px!important;
	border:1px solid #bababa;
	width:110px;
	height:19px;
	font-size:12px;
	line-height:19px;
	vertical-align:middle;
	overflow:hidden;
}
.checkbox {
	width:13px;
	height:13px;
	vertical-align:middle;
	margin-right:4px;
*margin-top:1px;
*height:14px;
}
.e_label {
	display:inline-block;
}
.e_error {
	height:20px;
	padding-right:20px!important;
	border:0px solid #fbd5a7!important;
	background:#ffffeb url(http://source.qunar.com/tts/images/demo/icon.e.gif) right center no-repeat!important;
}
.e_correct {
	padding-right:20px!important;
	border:1px solid #bababa!important;
	background:#fff url(http://source.qunar.com/tts/images/demo/icon_correct.gif) right center no-repeat!important;
}
.e_label .e_tips {
	position:absolute;
	top:22px;
	left:0;
	display:none;
	margin:0;
	padding:5px;
	border:1px solid #b1b1b1;
	width:120px;
	text-align:left;
	background-color:#ffffeb;
	color:#555;
}
.footer {
	width:950px;
	margin:0 auto;
	line-height:20px;
	color:#888;
	border-top:#ddd 1px solid;
	padding:15px 0;
	text-align:center;
}
.footer .t1 {
	display:inline-block;
	margin:0 5px;
}
.LOG4J {
	margin:50px 10px 10px;
	background:#fff;
	color:#555;
	border:1px solid #ccc;
}
.LOG4J h3 {
	background:#f1f1f1;
	font-size:14px;
	line-height:30px;
	margin:10px;
	text-indent:10px;
}
.LOG4J h3 span {
	color:#f1f1f1;
}
.LOG4J h3 span.close {
	color:#555;
	cursor:pointer;
	float:right;
	margin-right:10px;
}
.LOG4J ul {
	margin:10px;
}
.LOG4J li {
	border-bottom:1px solid #f1f1f1;
	line-height:20px;
	padding:2px 0;
}
.LOG4J li.info {
	background:#F4FBFC;
}
.LOG4J li.warn {
	background:#FFFFEB;
	color:#000;
}
.LOG4J li.error {
	background:#FBD5A7;
	color:#f00;
}
.LOG4JHIDE {
	color:#fff;
	border:1px solid #fff;
	height:10px;
	cursor:pointer;
	width:40px;
	margin:0 auto;
	overflow:hidden;
	background:#f00;
}
.LOG4JHIDE ul {
	display:none;
}
.LOG4JHIDE h3 {
	height:10px;
	overflow:hidden;
	margin:0;
	background:#fff;
}
.LOG4JHIDE h3 span {
	display:none;
}
.pubnav, .pubnav .nav_inner .servise_phone, .pubnav .nav_inner .login_info li {
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 0;
	color:#333;
}
.pubnav {
	width:auto;
	min-width:950px;
	background-position:0 0;
	background-repeat:repeat-x;
	padding-top:5px;
}
.pubnav .nav_inner {
	width:950px;
	margin:0 auto;
	height:28px;
	position:relative;
	overflow:hidden;
}
.pubnav .nav_inner .servise_phone {
	background-position:0 -48px;
	padding:0 10px 0 40px;
	margin:0 0 0 5px;
	height:23px;
	line-height:21px;
	float:left;
	display:block;
}
.pubnav .nav_inner .servise_phone em {
	font-family:Arial, Helvetica, sans-serif;
}
.pubnav .nav_inner .login_info {
	float:right;
	display:block;
	padding-top:2px;
	margin-right:-1px;
	position:relative;
	z-index:60;
}
.pubnav .nav_inner .login_info li {
	float:left;
	padding:0 10px;
	background-position:right -79px;
	line-height:18px;
	line-height:21px \9;
	_line-height:18px;
}
.pubnav .nav_inner .login_info li a {
	color:#333;
}
.pubnav .nav_inner .login_info li a:hover {
	color:#f60;
}
.pubnav .nav_inner .m_online_ser {
	float:right;
	display:block;
	position:relative;
	z-index:70;
}
.pubnav .btn_online_ser, .pubnav .btn_online_ser_disable {
	background:url(http://source.qunar.com/tts/images/btn_online_ser.png) no-repeat scroll 0 0;
	width:90px;
	height:22px;
	display:inline-block;
	zoom:1;
	overflow:hidden;
	text-indent:-9999px;
*font:0;
*line-height:0;
*text-indent:0;
}
.pubnav .btn_online_ser_disable {
	background-position:0 -25px;
	cursor:default;
}
.grayjt_tips {
	position:relative;
}
.grayjt_tips .tips_contair {
	position:absolute;
	display:none;
	margin:0;
	border:1px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#535353;
	line-height:20px;
}
.grayjt_tips .tips_content {
	padding:10px;
}
.grayjt_tips .bot, .grayjt_tips .top {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.grayjt_tips .bot {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #ccc transparent;
	top:-13px;
}
.grayjt_tips .top {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fff transparent;
	top:-12px;
}
.ps_title {
	padding:0 0 0 8px;
	zoom:1;
	position:relative;
	bottom:-1px;
	z-index:2;
}
.ps_title:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.sel_btn, .sel_btn span {
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -274px;
}
.sel_btn {
	float:left;
	margin:0 5px 0 0;
	display:block;
	height:22px;
	line-height:22px;
	padding-left:7px;
	background-position:0 -274px;
}
.sel_btn em {
	font-weight:normal;
	color:#888;
	font-family:Arial, Helvetica, sans-serif;
}
.sel_btn span {
	display:block;
	float:left;
	cursor:pointer;
	line-height:22px;
	height:22px;
	padding-right:7px;
	background-position:100% -307px;
}
.user_passinfoct {
	overflow:hidden;
	border-top:1px solid #bbe9f0;
	border-bottom:1px solid #bbe9f0;
	background-color:#f4fbfc;
	padding:10px 15px;
	position:relative;
	zoom:1;
}
.sel_content_fold {
	height:25px;
	overflow:hidden;
	_height:22px;
}
.sel_fold {
	position:absolute;
	right:20px;
	bottom:12px;
	padding-right:18px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 100% -182px;
}
.user_passinfoct .sel_fold {
	background-position:100% -182px;
	bottom:12px;
	_bottom:11px;
}
.sel_content_fold .sel_fold {
	background-position:100% -202px;
	bottom:14px;
	_bottom:16px;
}
.user_passinfoct table {
	width:100%;
	zoom:1;
	table-layout:fixed;
}
.user_passinfoct table td {
	padding:5px 0 6px;
	width:20%;
	word-wrap:break-word;
	word-break:break-all;
}
.user_passinfoct table td input {
	margin:0 4px 0 0;
	display:inline-block;
	width:13px;
	height:13px;
	vertical-align:middle;
	_vertical-align:text-bottom;
}
.csparest {
	float:left;
}
.csstatu {
	position:relative;
	z-index:10;
}
.yselector {
	background-color:#fff;
	width:120px;
}
.yselector_arraw {
	width:20px;
	border-left:1px dotted #bababa;
	float:right;
	margin-right:-20px;
	display:inline;
	height:15px;
	overflow:hidden;
	margin-bottom:-15px;
}
.yselector_arraw b {
	border-width:4px;
	border-style:solid;
	border-color:#555 #fff #fff #fff;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	display:block;
	margin:7px 0 0 6px;
}
.yselector_box {
	cursor:pointer;
	border:1px solid #bababa;
	padding:2px 20px 2px 2px;
	_height:1%;
	overflow:hidden;
}
.yselector_input {
	display:block;
	height:16px;
	line-height:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0 2px;
}
* html .yselector_arraw {
	width:40px;
	border-width:2px;
	height:30px;
	zoom:.5;
}
* html .yselector_arraw b {
	border-width:8px;
	margin-left:12px;
	margin-top:14px;
}
@media screen and(-webkit-min-device-pixel-ratio:0) {
.yselector_input:focus {
outline-width:1px;
outline-style:dotted;
outline-color:#bababa;
}
}
.yselector_suggest {
	margin-top:-1px;
	position:relative;
	background-color:#f00;
	z-index:13;
}
.yselector_suggest ul {
	overflow-y:auto;
	overflow-x:hidden;
	position:absolute;
	width:118px;
	border:1px solid #bababa;
	background-color:#fff;
	padding:0!important;
}
.yselector_suggest a {
	color:#555;
	display:block;
	line-height:24px;
	height:24px;
	padding:0 5px 0 4px!important;
	outline:0;
	text-overflow:ellipsis;
	overflow:hidden;
}
.yselector_suggest a:hover, .yselector_suggest a.hover {
	color:#fff;
	background-color:#4778da;
}
.yselector_suggest li {
	overflow:hidden;
	white-space:nowrap;
	padding:0;
	float:none!important;
	clear:both;
	width:100%;
	display:block;
	padding-top:0!important;
}
.wt_chiren {
	width:100px;
	z-index:50;
*margin-top:1px;
}
.wt_chiren .yselector {
	width:100px;
}
.wt_chiren .yselector_suggest ul {
	width:98px;
}
.wt_cercode {
	width:70px;
	z-index:50;
*margin-top:1px;
}
.wt_cercode .yselector {
	width:70px;
}
.wt_cercode .yselector_suggest ul {
	width:68px;
}
.wt_insure {
	width:60px;
	z-index:50;
*margin-top:1px;
	margin-left:7px;
	display:inline;
}
.wt_insure .yselector {
	width:60px;
}
.wt_insure .yselector_suggest ul {
	width:58px;
}
.wt_provice {
	width:130px;
	z-index:10;
}
.wt_provice .yselector {
	width:130px;
}
.wt_provice .yselector_suggest ul {
	width:128px;
}
.wt_status {
	width:150px;
	z-index:10;
}
.wt_status .yselector {
	width:150px;
}
.wt_status .yselector_suggest ul {
	width:148px;
}
.disble .yselector_arraw b {
	border-color:#555 #F3F3F3 #F3F3F3 #F3F3F3;
}
.insur_tip .b, .insur_tip .t {
	border-width:6px;
	border-style:solid dashed dashed dashed;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.insur_tip .b {
	border-color:#fbd5a7 transparent transparent transparent;
	bottom:-13px;
	left:50%;
}
.insur_tip .t {
	border-color:#ffffeb transparent transparent transparent;
	bottom:-12px;
	left:50%;
}
.insur_tip .tips_close {
	position:absolute;
	right:5px;
	top:5px;
	background:url(http://source.qunar.com/site/images/tts/classic/ico.bxclose.gif) no-repeat;
	width:10px;
	height:10px;
}
.insur_tip .tips_close:hover {
	cursor:pointer;
}
.insur_tip .tips_contair {
	position:absolute;
	left:550px;
	top:-48px;
}
.b_agentbanner {
	height:88px;
	color:#333;
}
.e_agentbanner {
	margin:0 auto;
	width:950px;
	background:url(http://source.qunar.com/tts/images/demo/blue_line.jpg) repeat-x left bottom;
	padding-bottom:3px;
}
.e_agentbanner .banner {
	height:85px;
}
.e_agentbanner .banner .logo {
	float:left;
	display:inline;
	height:85px;
	vertical-align:middle;
	margin:0 10px 0 5px;
	overflow:hidden;
	max-width:200px;
	_width:200px;
}
.e_agentbanner .banner .logo b {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	width:0;
	height:100%;
	height:85px \0;
}
.e_agentbanner .banner .logo img {
	max-height:80px;
	vertical-align:middle;
	cursor:pointer;
	margin-top:-1px;
}
.e_agentbanner .banner .m_fl_piao {
	float:left;
	display:block;
	display:table;
	width:250px;
	height:85px;
*padding-top:25px;
*height:60px;
}
.e_agentbanner .banner .m_fl_piao div {
	display:table-cell;
	vertical-align:middle;
}
.e_agentbanner .banner .m_fl_piao div label {
	float:left;
	display:block;
	width:60px;
}
.e_agentbanner .banner .m_fl_piao div span {
	margin-left:60px;
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	zoom:1;
}
.e_agentbanner .banner .m_fr_rbz {
	float:right;
	display:block;
	padding-top:10px;
}
.e_agentbanner .banner .m_fr_rbz .e_acc_hp {
	float:left;
	display:block;
	margin-left:5px;
}
.b_acc_hp .f_tohama {
	font-family:Tahoma, Arial;
}
.e_acc_hp {
	margin:0 auto;
	width:230px;
	height:65px;
	font:normal 12px/20px Arial;
	text-align:center;
	background:url(http://source.qunar.com/site/images/flight/flight_search/bg_acc.png) 0 8px no-repeat;
	margin-bottom:5px;
}
.e_acc_hp .i_cata {
	margin:0 3px 0 2px;
	vertical-align:middle;
	background:url(http://source.qunar.com/site/images/flight/flight_search/bg_acc.png) -200px -70px no-repeat;
	width:18px;
	height:15px;
	display:inline-block;
	_vertical-align:baseline;
}
.e_acc_hp .m_tit {
	background:url(http://source.qunar.com/site/images/flight/flight_search/bg_acc.png) 100px 100px no-repeat;
	width:145px;
	height:24px;
	display:block;
	margin:0 auto;
}
.e_acc_hp .m_t1 {
	background-position:0 -70px;
}
.e_acc_hp .m_t2 {
	background-position:0 -100px;
}
.e_acc_hp .m_p1, .e_acc_hp .m_p2 {
	color:#d5920f;
	line-height:18px;
}
.p_tips_cont {
	position:relative;
	z-index:20;
	width:100%;
	height:0;
}
.p_tips_wrap {
	position:absolute;
	text-align:left;
	border:1px solid #f9d7ac;
	background-color:#ffffeb;
	color:#555;
	width:228px;
	z-index:100;
	left:0;
	top:3px;
}
.p_tips_wrap .p_tips_content {
	line-height:22px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:nowrap;
	padding:5px 18px;
}
.p_tips_wrap .p_tips_arr {
	position:absolute;
*display:inline;
	margin:-10px 0 0 108px;
	margin:-17px 0 108/9;
	width:22px;
	height:10px;
	cursor:default;
}
.p_tips_wrap .p_tips_arr p {
	font-family:"SimSun";
	overflow:hidden;
	font-size:12px;
	display:block;
	height:12px;
	color:#f9d7ac;
}
.p_tips_wrap .p_tips_arr .arr_i {
	margin:-11px 0 0;
	color:#ffffeb;
}
.e_dbt_hp .i_bao {
	margin:-2px 3px 0 2px;
	vertical-align:middle;
	background:url(http://source.qunar.com/site/images/flight/flight_search/bg_acc.png) -200px -93px no-repeat;
	width:30px;
	height:36px;
	display:inline-block;
}
.e_dbt_hp .m_dbt_ico {
	float:left;
	display:block;
	width:35px;
	margin-top:4px;
}
.e_dbt_hp .m_dbt_ifo {
	margin-left:35px;
	line-height:20px;
}
#js_hp_ticket #js_hp_tips {
	display:none;
}
#js_hp_ticket:hover #js_hp_tips {
	display:block;
}
.proces_step {
	width:950px;
	margin:0 auto;
	position:relative;
	padding:20px 0;
	height:20px;
}
.proces_step .p_title {
	font:700 16px/20px simsun, sans-serif;
	padding-left:10px;
}
.proces_step ul {
	position:absolute;
	top:17px;
	right:-5px;
}
.proces_step ul li {
	float:left;
	height:30px;
	width:83px;
	color:#808080;
	text-align:center;
	line-height:18px;
}
.proces_step ul li em {
	display:block;
	margin-right:5px;
	height:8px;
	line-height:0;
	font-size:0;
	background:#e4e4e4;
	margin-top:4px;
}
.proces_step s {
	_position:relative;
	float:right;
	display:inline;
	margin-right:-5px;
	height:8px;
	width:5px;
	overflow:hidden;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat -10px -104px;
}
.proces_step .visited {
	background-color:#c9f3f5;
}
.proces_step .visited s {
	background-position:-207px -104px;
}
.proces_step .prenode s {
	background-position:-217px -104px;
}
.proces_step .prenode {
	background-color:#c9f3f5;
}
.proces_step .current s {
	background-position:-239px -104px;
}
.proces_step .current {
	background-color:#37c1c8;
}
.proces_step .nexnode s {
	background-position:-228px -104px;
}
.moduletip_wt {
	width:950px;
	margin:0 auto 15px auto;
}
.module_tipbg {
	background:#ffffeb;
	border:#fbd5a7 1px solid;
}
.module_tipbg .wrinner {
	padding:4px 10px 6px 13px;
}
.module_tipbg .wrinner .waring_text {
	line-height:24px;
	padding:0 0 0 22px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -119px;
	vertical-align:middle;
}
.module_tipbg .wrinner .waring_text strong {
	font-weight:700;
	font-family:Tahoma;
}
.module_tipbg .sptips {
	line-height:24px;
	padding:0 0 0 22px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -118px;
	width:528px;
	margin:0 auto;
}
.module_tipbg .right, .module_tipbg .left {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.module_tipbg .right {
	border-width:6px;
	border-style:dashed solid dashed dashed;
	border-color:transparent #fbd5a7 transparent transparent;
	left:-12px;
	top:6px;
}
.module_tipbg .left {
	border-width:6px;
	border-style:dashed solid dashed dashed;
	border-color:transparent #ffffeb transparent transparent;
	left:-11px;
	top:6px;
}
.order_basinfo {
	padding:5px 10px 6px 10px;
	text-align:center;
}
.order_basinfo .pr {
	font-family:Arial, Helvetica, sans-serif;
}
.order_basinfo .pr b {
	font-size:16px;
	font-weight:700;
	display:inline-block;
	margin-right:6px;
}
.order_basinfo .clred {
	color:#ff075b;
	font-weight:700;
}
.orangejt_tips {
	position:relative;
}
.orangejt_tips .tips_contair {
	position:absolute;
	margin:0;
	border:1px solid #fbd5a7;
	text-align:left;
	background-color:#ffffeb;
	color:#535353;
	line-height:20px;
}
.orangejt_tips .tips_content {
	padding:10px;
}
.orangejt_tips .bot, .orangejt_tips .top {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.orangejt_tips .bot {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fbd5a7 transparent;
	top:-13px;
}
.orangejt_tips .top {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #ffffeb transparent;
	top:-12px;
}
.orpop_layer {
	position:relative;
	z-index:10;
	cursor:help;
	font:12px/1.5 tahoma, arial, sans-serif;
}
.orpop_layer .box {
	position:absolute;
	top:0;
	left:0;
	background-color:#fff;
	cursor:default;
	border:1px solid #fbd5a7;
}
.orpop_layer .box .content {
	padding:10px 8px;
	text-align:left;
	color:#555;
}
.orpop_layer cite.bot, .orpop_layer cite.top {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.orpop_layer cite.bot {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fbd5a7 transparent;
	top:-13px;
}
.orpop_layer cite.top {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fff transparent;
	top:-12px;
}
.module_tipbg .fb {
	font-weight:bold;
}
.blpop_layer {
	position:absolute;
	z-index:960;
	cursor:help;
	font:12px/1.5 tahoma, arial, sans-serif;
}
.blpop_layer .box {
	background-color:#fff;
	cursor:default;
	border:1px solid #78a2c8;
}
.blpop_layer .box .content {
	padding:10px 8px;
	text-align:left;
	color:#555;
}
.blpop_layer .jt_layer {
	position:absolute;
	top:1px;
}
.blpop_layer cite.bot, .blpop_layer cite.top {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
	border-width:6px;
	border-style:dashed dashed solid dashed;
}
.blpop_layer cite.bot {
	border-color:transparent transparent #78a2c8 transparent;
	top:-13px;
}
.blpop_layer cite.top {
	border-color:transparent transparent #fff transparent;
	top:-12px;
}
.blpop_layer .box .tgq_tip {
	color:#0069ca;
	background:#f1f8ff;
	padding:5px 8px 10px 10px;
}
.blpop_layer .box .tgq_tip .icon_waring {
	width:16px;
	height:16px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -400px;
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}
.blpop_layer .blue_layer {
	background-color:#f1f8ff;
}
.blpop_layer .blue_layer .content {
	padding:5px 8px;
}
.blpop_layer .blue_layer cite.top {
	border-color:transparent transparent #f1f8ff transparent;
}
.blpop_layer .orange_layer {
	background-color:#ffffeb;
	border:#fbd5a7 1px solid;
}
.blpop_layer .orange_layer .content {
	padding:5px 8px;
}
.blpop_layer .orange_layer cite.bot {
	border-color:transparent transparent #fbd5a7 transparent;
}
.blpop_layer .orange_layer cite.top {
	border-color:transparent transparent #ffffeb transparent;
}
.poplayer_box .close, .poplayer_box .retitle, .poplayer_box .retitle_s, .poplayer_box .retcoritle, .poplayer_box .retinruritle, .btn_blue b, .btn_gray b {
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -1114px;
}
.poplayer_bg {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	z-index:900;
	background-color:#000;
	left:0;
	top:0;
	opacity:.2;
	filter:Alpha(opacity=20);
}
.poplayer_box {
	display:none;
	position:absolute;
	z-index:950;
	left:50%;
	top:0;
	color:#555;
	font-size:12px;
}
.poplayer_box .close {
	position:absolute;
	top:10px;
	right:12px;
	width:10px;
	height:10px;
	background-position:0 -1114px;
	cursor:pointer;
}
.poplayer_box .poplayer_inner {
	border:#999 1px solid;
	background:#fff;
	width:400px;
	line-height:20px;
}
.poplayer_box .poplayer_inner .loading {
	height:32px;
	line-height:32px;
	padding-left:40px;
	font-size:14px;
	background:url(http://source.qunar.com/tts/images/demo/ajax-loader.gif) no-repeat left top;
}
.poplayer_box .pay_tip {
	padding:30px;
}
.poplayer_box .pay_tip .clblue {
	color:#0069ca;
	text-align:right;
	padding:8px 0 0 0;
}
.poplayer_box .pay_tip .button {
	width:159px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:url(http://source.qunar.com/tts/images/demo/button.payment.png) no-repeat;
	border:0;
	color:#555;
	font-size:14px;
	cursor:pointer;
}
.poplayer_box .pay_tip .mr20 {
	margin-right:20px;
}
.poplayer_box .pay_tip .nologin_tip {
	padding:10px 0 0 0;
}
.poplayer_box .pay_tip .nologin_tip a {
	padding:0 6px;
}
.poplayer_box .relat_tip {
	padding:10px 20px 10px 20px;
}
.poplayer_box .relat_tip .relt_btn {
	text-align:center;
	padding:15px 0;
}
.poplayer_box .relat_tip .relt_errortip {
	color:#ec002d;
	padding:5px 0 0 40px;
}
.poplayer_box .relat_tip .relt_msg {
	padding:5px 0 0 40px;
}
.poplayer_box .relapy_tip {
	padding:40px;
}
.poplayer_box .relapy_tip .pay_blk {
	text-align:left;
}
.poplayer_box .relapy_tip .pay_blk b {
	color:#ec002d;
	font-weight:100;
}
.poplayer_box .relapy_tip .blk_btn {
	margin-top:15px;
	text-align:center;
}
.poplayer_box .ptl110 {
	width:380px;
	margin:0 auto;
	padding-top:45px;
}
.poplayer_box .ptrbl30 {
	padding:40px 40px 40px 110px;
}
.poplayer_box .retitle {
	padding:6px 0 6px 40px;
	font-size:14px;
	line-height:20px;
	background-position:0 -1140px;
}
.poplayer_box .retcoritle {
	padding:6px 0 6px 40px;
	font-size:14px;
	line-height:20px;
	background-position:0 -854px;
}
.poplayer_box .retinruritle {
	padding:6px 0 6px 40px;
	font-size:14px;
	line-height:20px;
	background-position:0 -1284px;
}
.poplayer_box .retitle_s {
	padding:0 0 0 27px;
	font-size:14px;
	line-height:20px;
	background-position:0 -122px;
	margin-bottom:5px;
}
.poplayer_box .ml13 {
	margin-left:13px;
}
.poplayer_box .relat_tip .insure_sm {
	padding:15px 0 10px 0;
	text-align:center;
}
.poplayer_box .relat_tip .insure_sm b {
	font-weight:700;
	color:#ec002d;
	display:inline-block;
	margin-right:10px;
}
.poplayer_box .relat_tip .insure_sm cite {
	font-family:Arial, Helvetica, sans-serif;
}
.poplayer_box .compaints_ct {
	padding:7px 10px 10px 20px;
}
.poplayer_box .compaints_ct h5 {
	font-size:14px;
	line-height:30px;
}
.poplayer_box .compaints_ct ul {
	margin-top:15px;
}
.poplayer_box .compaints_ct li {
	line-height:24px;
	zoom:1;
}
.poplayer_box .compaints_ct li:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.poplayer_box .compaints_ct li .tt {
	float:left;
	width:78px;
	text-align:right;
}
.poplayer_box .compaints_ct li .ttiner {
	float:left;
	width:380px;
}
.poplayer_box .compaints_ct .text_com {
	width:326px;
	height:122px;
	overflow-x:hidden;
	overflow-y:scrool;
	vertical-align:top;
	margin-top:6px;
	padding:2px 5px;
	line-height:18px;
}
.poplayer_box .compaints_ct li.comp_num {
	padding:10px 0 15px 78px;
	position:relative;
}
.poplayer_box .compaints_ct li.comp_num .num {
	position:absolute;
	right:50px;
	top:10px;
	line-height:22px;
}
.poplayer_box .loginner {
	margin:15px 25px 6px;
	background:#fff url(http://source.qunar.com/site/images/qn_logo_s.gif) 10px 4px no-repeat;
}
.poplayer_box .loginner h3 {
	margin:0;
	padding:8px 0 0 90px;
	font:bold 14px/1.231 SimSun, Arial, sans-serif;
	color:#555;
}
.poplayer_box .loginner .waring {
	margin:20px 0 0 10px;
	padding-left:22px;
	background:url(http://source.qunar.com/tts/images/demo/topnavv2.png) no-repeat 0 -396px;
}
.poplayer_box .loginner .login_form {
	margin:20px auto 0 auto;
	width:310px;
}
.poplayer_box .loginner .login_form li {
	clear:both;
	float:none;
	margin:0;
	padding:0 0 10px;
	height:20px;
	zoom:1;
}
.poplayer_box .loginner .login_form li:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.poplayer_box .loginner .login_form li.errmsg {
	visibility:hidden;
	padding:0 0 6px 62px;
	height:15px;
	line-height:15px;
	background:url(http://source.qunar.com/tts/images/demo/icon_error.gif) 46px -3px no-repeat;
	color:#f60;
}
.poplayer_box .loginner .login_form li.ops {
	padding:6px 0 6px 46px;
	height:28px;
}
.poplayer_box .loginner .login_form .lgtt {
	float:left;
	line-height:20px;
	text-align:right;
	width:46px;
	padding-right:10px;
}
.poplayer_box .loginner .login_form .forgetpwd {
	float:left;
	padding:0 0 0 10px;
	line-height:22px;
}
.poplayer_box .loginner .login_form .lgform {
	float:left;
	width:150px;
}
.poplayer_box .loginner .login_form .input_lg {
	border:#bfbfbf 1px solid;
	line-height:18px;
	height:18px;
	vertical-align:middle;
	width:150px;
	vertical-align:middle;
}
.btn_blue {
	border:0;
	cursor:pointer;
	overflow:visible;
	vertical-align:middle;
	background:none;
	padding:0;
	margin:0;
	font-family:simsum;
}
.btn_blue b {
	height:22px;
	line-height:22px;
	white-space:nowrap;
	color:#fff;
	font-weight:100;
	display:inline-block;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding-left:12px;
	background-position:0 -1457px;
}
.btn_blue b b {
	display:inline-block;
	padding-right:12px;
	padding-left:0;
	background-position:right -1488px;
}
.btn_gray {
	border:0;
	cursor:pointer;
	overflow:visible;
	vertical-align:middle;
	background:none;
	padding:0;
	margin:0;
	font-family:simsum;
}
.btn_gray b {
	height:22px;
	line-height:22px;
	white-space:nowrap;
	color:#000;
	font-weight:100;
	display:inline-block;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding-left:12px;
	background-position:0 -1520px;
}
.btn_gray b b {
	display:inline-block;
	padding-right:12px;
	padding-left:0;
	background-position:right -1548px;
}
.btn_prl20 b {
	padding-left:20px;
}
.btn_prl20 b b {
	padding-left:0;
	padding-right:20px;
}
. {
position:relative;
top:20px;
}
. cite.bot, . cite.top {
margin:0;
width:0;
height:0;
font-size:0;
overflow:hidden;
position:absolute;
border-width:6px;
border-style:dashed dashed solid dashed;
}
. .inner {
position:absolute;
top:13px;
padding:0!important;
}
. .box {
background-color:#fff;
cursor:default;
border:1px solid #78a2c8;
}
. .box .content {
padding:10px 8px;
text-align:left;
color:#555;
}
. .jt_layer {
float:right;
display:inline;
margin-right:150px;
}
. .orange_layer {
background-color:#ffffeb;
border:#fbd5a7 1px solid;
}
. .orange_layer .content {
padding:5px 8px;
}
. .orange_layer cite.bot {
border-color:transparent transparent #fbd5a7 transparent;
top:-12px;
}
. .orange_layer cite.top {
border-color:transparent transparent #ffffeb transparent;
top:-11px;
}
.layer_cont {
	padding:20px;
}
.layer_cont h3 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
}
.layer_cont .p_txt {
	line-height:20px;
	margin-bottom:10px;
}
.form_horizontal {
	padding-bottom:10px;
}
.form_horizontal li {
	padding-bottom:10px;
}
.form_horizontal li .lab {
	float:left;
	display:block;
	width:60px;
	padding-right:10px;
	text-align:right;
}
.form_horizontal li .controls {
	padding-left:70px;
}
.form_horizontal li .inp_text {
	vertical-align:middle;
	border:1px solid #bbb;
	width:165px;
	height:22px;
	line-height:22px;
}
.form_horizontal li .state_tips {
	border:1px solid #f8d3a7;
	background:#fffedf;
	height:24px;
	line-height:24px;
	padding:0 5px;
	display:inline-block;
	vertical-align:middle;
	_padding-top:5px;
	_height:19px;
}
.form_horizontal li .state_tips i {
	padding-right:5px;
	vertical-align:middle;
	margin-top:-2px;
}
.form_horizontal li .vcode_img {
	vertical-align:middle;
	margin-right:5px;
}
.ico_errorS {
	background:url(http://source.qunar.com/site/images/hotel/kezhan/ico_prompt.png) no-repeat scroll 0 -380px;
	display:inline-block;
	height:16px;
	width:16px;
	overflow:hidden;
}
.ico_errorS {
	background-position:0 -380px;
}
.e_submit_btn {
	text-align:center;
}
.btn_gray_disable, .btn_gray_disable b {
	color:#888;
	cursor:default;
}
.e_checklst {
	padding:0 0 10px 25px;
}
.tbl_checklst th {
	font-size:14px;
	font-weight:bold;
	text-align:left;
	height:35px;
}
.tbl_checklst td {
	white-space:normal;
	word-break:break-all;
	font-size:14px;
	line-height:20px;
	padding-bottom:10px;
	text-align:left;
	vertical-align:text-top;
}
.tbl_checklst .c1 {
	width:100px;
}
.tbl_checklst .c2 {
	width:100px;
	text-align:center;
}
.tbl_checklst .c3 {
	width:auto;
}
.tbl_checklst td.c3 {
	font-family:Tahoma;
}
.module_flight {
	width:950px;
	margin:0 auto 15px auto;
}
.flight_ft {
	border:#dcf7fb 1px solid;
	border-top:0;
}
.tbl_flight {
	table-layout:fixed;
	width:100%;
	line-height:24px;
}
.tbl_flight th {
	line-height:30px;
	height:30px;
	background:#dcf7fb;
	text-align:center;
}
.tbl_flight td {
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
	padding:6px 0;
}
.tbl_flight .ft1 {
	width:133px;
	text-align:center;
}
.tbl_flight .ft2 {
	width:236px;
}
.tbl_flight .ft3 {
	width:60px;
	text-align:center;
}
.tbl_flight .ft4 {
	width:158px;
	text-align:center;
}
.tbl_flight .ft5 {
	width:202px;
}
.tbl_flight .ft6 {
	width:86px;
	text-align:center;
}
.tbl_flight .ft7 {
	width:74px;
}
.tbl_flight td.ft1 {
	padding-left:15px;
	width:118px;
}
.tbl_flight td p {
	padding-right:5px;
}
.tbl_flight td.ft7 p {
	padding-right:0;
}
.tbl_flight .ft2 .start {
	font-weight:700;
}
.tbl_flight .ft2 .end {
	font-weight:700;
	color:#888;
}
.tbl_flight .ft2 em {
	font-family:Tahoma, Geneva, sans-serif;
	display:inline-block;
	margin-right:10px;
}
.tbl_flight .ft4 img {
	vertical-align:middle;
	margin-right:5px;
}
.tbl_flight .ft4 .ft_code {
	margin-left:21px;
	font-family:Tahoma, Geneva, sans-serif;
}
.tbl_flight .ft4 .ft_code cite {
	color:#888;
	font-family:simsum;
}
.tbl_flight th.ft5 {
	text-align:left;
	text-indent:27px;
}
.tbl_flight .ft5 .pr {
	color:#ff075b;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
}
.tbl_flight .ft5 .clgray {
	color:#888;
}
.tbl_flight .ft5 .pr_info {
	width:80px;
	float:left;
	text-align:center;
}
.tbl_flight .ft5 .favo_tip {
	position:relative;
	margin-left:80px;
}
.tbl_flight .ft5 .favo_tip .module_tipbg {
	width:98px;
	line-height:16px;
}
.tbl_flight .ft5 .favo_tip .module_tipbg p {
	padding:2px 6px;
}
.tbl_flight .ft6 .pr {
	font-family:Arial, Helvetica, sans-serif;
}
.tbl_flight .ft7 .icon_exp, .tbl_flight .ft7 .col {
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 100% -186px;
}
.tbl_flight .ft7 .icon_exp {
	display:inline-block;
	margin-left:7px;
	width:11px;
	height:10px;
*height:12px;
	overflow:hidden;
	background-position:100% -186px;
}
.tbl_flight .ft7 .col {
	display:inline-block;
	margin-left:7px;
	width:11px;
	height:10px;
*height:12px;
	overflow:hidden;
	background-position:100% -206px;
}
.tgq_content {
	background:#f4fbfc;
	border:#ebebeb 1px solid;
	margin:0 15px 15px 15px;
	padding:5px 10px 5px 10px;
	display:none;
	line-height:20px;
	position:relative;
	text-align:left;
}
.flight_exp .tgq_content {
	display:block;
}
.flight_exp .tgq_content h4 {
	font-size:12px;
	font-weight:700;
	padding-bottom:2px;
}
.flight_exp .tgq_content .adult {
	color:#888;
	margin:0 0 3px 30px;
}
.flight_exp .tgq_content .child {
	color:#888;
	margin:0 0 0 30px;
}
.flight_exp .tgq_content .bot, .flight_exp .tgq_content .top {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.flight_exp .tgq_content .bot {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #ebebeb transparent;
	right:35px;
	top:-13px;
	_top:-12px;
}
.flight_exp .tgq_content .top {
	border-width:6px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #f4fbfc transparent;
	right:35px;
	top:-12px;
	_top:-11px;
}
.tbl_trip .ft3 {
	width:50px;
}
.tbl_trip .ft4 {
	width:148px;
}
.tbl_trip .ft5 {
	width:186px;
}
.tbl_trip .ft6 {
	width:76px;
}
.tbl_trip .ft8 {
	width:46px;
	text-align:center;
}
.tbl_nofl .ft4 {
	width:200px;
}
.tbl_nofl .ft5 {
	width:128px;
	text-align:center;
}
.tbl_nofl th.ft5 {
	text-align:center;
	text-indent:0;
}
.tbl_nofl .ft5 .pr_info {
	width:100%;
}
.tbl_nofl .ft8 {
	width:46px;
	text-align:center;
}
.flfive_info {
	width:950px;
	margin:0 auto 15px auto;
}
.payfl_info {
	border-bottom:#ddd 1px solid;
	padding:10px 15px 6px 15px;
}
.payfl_info h2 {
	font-weight:700;
	font-size:12px;
	line-height:20px;
}
.tbl_ft {
	table-layout:fixed;
	width:100%;
	line-height:24px;
}
.tbl_ft td {
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
	padding:6px 0;
}
.tbl_ft .ft1 {
	width:133px;
}
.tbl_ft .ft2 {
	width:236px;
}
.tbl_ft .ft3 {
	width:100px;
	text-align:center;
}
.tbl_ft .ft4 {
	width:158px;
}
.tbl_ft .ft5 {
	width:202px;
}
.tbl_ft td.ft1 {
	padding-left:15px;
	width:118px;
}
.flfive_info .tbl_ft td.ft1 {
	padding-left:30px;
	width:118px;
}
.tbl_ft td p {
	padding-right:5px;
}
.tbl_ft .ft2 .start {
	font-weight:700;
}
.tbl_ft .ft2 .end {
	font-weight:700;
	color:#888;
}
.tbl_ft .ft2 em {
	font-family:Tahoma, Geneva, sans-serif;
	display:inline-block;
	margin-right:10px;
}
.tbl_ft .ft4 img {
	vertical-align:middle;
	margin-right:5px;
}
.tbl_ft .ft4 .ft_code {
	margin-left:21px;
	font-family:Tahoma, Geneva, sans-serif;
}
.tbl_ft .ft4 .ft_code cite {
	color:#888;
	font-family:simsum;
}
.tbl_ft .ft5 .pop_tgq {
	color:#0069ca;
	cursor:help;
	width:45px;
}
.module_passinfo {
	width:950px;
	margin:0 auto 15px auto;
}
.module_passinfo .user_passinfo {
	margin:14px 0 0 0;
}
.module_passinfo .rest_ticket {
	display:inline-block;
*display:inline;
*zoom:1;
	margin-top:8px;
	padding:2px 8px 5px 13px;
	padding:3px 8px 4px 13px \0;
*padding:4px 8px 3px 13px;
	_padding:3px 8px 4px 13px;
	line-height:18px;
}
.module_passinfo .rest_ticket em {
	color:#ff075b;
	display:inline-block;
	padding:0 8px;
	font-weight:700;
}
.module_passinfo .passform {
	margin:10px 0 0 0;
}
.module_passinfo .passfomlist {
	padding:10px 15px 10px 0;
	border-bottom:#ddd 1px solid;
	clear:both;
	zoom:1;
}
.module_passinfo .passfomlist:after, .module_passinfo .passfomlist li:after, .module_passinfo .passfomlist .sex_ct:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	overflow:hidden;
	content:"\20";
}
.module_passinfo .passfomlist:hover {
	background-color:#f7fdfd;
}
.module_passinfo .passfomlist li {
	float:left;
	display:inline;
	zoom:1;
}
.module_passinfo .passfomlist .c1 {
	width:285px;
}
.module_passinfo .passfomlist .c2 {
	width:361px;
}
.module_passinfo .passfomlist .c3 {
	width:270px;
}
.module_passinfo .passfomlist .c4 {
	float:right;
	width:16px;
}
.module_passinfo .passfomlist li.c5 {
	float:none;
	width:0;
	height:0;
	overflow:hidden;
}
.module_passinfo .passfomlist .idtype {
	width:70px;
}
.module_passinfo .passfomlist .selectbox {
	width:100px;
}
.module_passinfo .passfomlist .idnum {
	width:176px;
}
.module_passinfo .passfomlist .qnum {
	width:60px;
}
.module_passinfo .passfomlist .c3 .selectbox {
	width:65px;
}
.module_passinfo .passfomlist .del {
	border:0;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-top:4px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -334px;
	cursor:pointer;
}
.module_passinfo .passfomlist .pas_name {
	width:46px;
	float:left;
	margin-left:15px;
	display:inline;
	text-align:right;
	line-height:20px;
}
.module_passinfo .passfomlist .pas_inpt {
	float:left;
	width:110px;
}
.module_passinfo .passfomlist .pasg_cername {
	float:left;
	width:70px;
	text-align:right;
	line-height:20px;
}
.module_passinfo .passfomlist .pasg_cer_code {
	float:left;
	margin-left:6px;
	display:inline;
	width:212px;
}
.module_passinfo .passfomlist .pasg_num {
	float:left;
	width:30px;
	text-align:right;
	line-height:20px;
}
.module_passinfo .passfomlist .req {
	display:inline-block;
	margin:0 7px;
	color:#ff075b;
	font-family:SimSum;
	vertical-align:middle;
}
.module_passinfo .passfomlist .textbox {
	padding:1px 2px 0;
	border:1px solid #bababa;
	width:110px;
	height:19px;
	font-size:12px;
	line-height:19px;
	vertical-align:middle;
	overflow:hidden;
}
.module_passinfo .passfomlist .input_name {
	width:80px;
}
.module_passinfo .passfomlist .input_cerd {
	width:145px;
}
.module_passinfo .passfomlist .pr {
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block;
	margin-left:12px;
	line-height:22px;
}
.module_passinfo .passfomlist .sex_ct {
	clear:both;
	padding-top:8px;
	zoom:1;
}
.module_passinfo .passfomlist .sex_ct .pasg_cername cite {
	padding-left:24px;
}
.module_passinfo .passfomlist .sex_ct .sex_day {
	float:left;
	width:70px;
	margin-left:6px;
	display:inline;
	line-height:20px;
}
.module_passinfo .passfomlist .sex_ct .input_day {
	width:75px;
}
.module_passinfo .passfomlist .disble {
	background:#f3f3f3;
}
.module_passinfo .passfomlist li a {
	padding-left:10px;
}
.module_passinfo .passfomlist .prchild b {
	font-family:Arial, sans-serif;
	color:#ff075b;
	font-weight:700;
	display:inline-block;
	margin-left:10px;
*margin-left:5px;
}
.module_passinfo .passfomlist .prchild a {
	color:#0069CA;
	padding:0;
}
.module_passinfo .passfomlist .textbox_b {
	padding:1px 20px 0 2px;
	border:1px solid #bababa;
	height:19px;
	font-size:12px;
	line-height:19px;
	vertical-align:middle;
	overflow:hidden;
	display:inline-block;
	background:#fff;
}
.module_passinfo .passfomlist .textbox_b.e_correct, .module_passinfo .passfomlist .textbox_b.e_error {
	padding-right:20px!important;
}
.module_passinfo .passfomlist .textbox_b input {
	border:0;
	background:transprent;
	outline:none;
}
.module_passinfo .passfomlist .textbox_disable {
	background-color:#F3F3F3;
}
.module_passinfo .add_contet {
	padding:10px 15px 0 15px;
	line-height:22px;
	zoom:1;
	position:relative;
}
.module_passinfo .add_contet:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.module_passinfo .add_contet .bt_add {
	width:83px;
	height:22px;
	border:0;
	cursor:pointer;
	float:left;
	text-indent:-99999em;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -368px;
}
.module_passinfo .add_contet .exc_tip {
	float:left;
	margin-left:10px;
	display:inline;
	color:#ff075b;
}
.module_passinfo .add_contet .checkbox {
	width:13px;
	height:13px;
	vertical-align:middle;
	display:inline-block;
	margin:0 4px 0 0;
}
.module_passinfo .add_contet .save_passct {
	position:absolute;
	right:15px;
	top:10px;
	_top:15px;
	text-align:right;
}
.module_passinfo .add_contet .hover_user .tips_contair {
	display:block;
	width:121px;
	top:6px;
}
.module_passinfo .add_contet .hover_user .tips_contair .bot, .module_passinfo .add_contet .hover_user .tips_contair .top {
	right:30px;
}
.module_passinfo .issure_tip {
	color:#888;
	margin:10px 15px 0 15px;
}
.module_passinfo .issure_tip .icon_waring {
	width:16px;
	height:16px;
	background:url(http://source.qunar.com/tts/images/demo/topnav_v3.png) no-repeat 0 -400px;
	display:inline-block;
	vertical-align:middle;
	margin-left:6px;
}
.module_passinfo .safe_tip {
	margin:10px 15px 0 15px;
	display:inline-block;
*display:inline;
*zoom:1;
	padding:2px 8px 5px 13px;
	padding:3px 8px 4px 13px \0;
*padding:4px 8px 3px 13px;
	_padding:3px 8px 4px 13px;
	line-height:18px;
}
.agreen_info {
	width:950px;
	margin:0 auto 20px auto;
}
.agreen_info .inner {
	padding:0 15px;
}
.verif_code {
	padding:0 15px;
}
.verif_code img {
	vertical-align:middle;
}
.verif_code .ve_code {
	margin-right:10px;
}
.verif_code em {
	padding-left:10px;
}
.wt_submit {
	width:950px;
	margin:0 auto 20px auto;
	text-align:center;
}
.module_contact {
	width:950px;
	margin:0 auto 15px auto;
}
.module_contact .user_containfo {
	margin:14px 0 0 0;
}
.contact_form {
	zoom:1;
	margin:10px 15px 0 15px;
}
.contact_form:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.contact_form li {
	float:left;
	line-height:22px;
}
.contact_form li .req {
	display:inline-block;
	margin:0 7px;
	color:#ff075b;
	font-family:SimSum;
	vertical-align:middle;
}
.contact_form li .input_ctname {
	width:105px;
}
.contact_form .ct1 {
	width:206px;
}
.contact_form .ct2 {
	width:205px;
}
.contact_form .ct3 {
	width:360px;
}
.contact_form .ct4 {
	float:right;
	text-align:right;
	width:125px;
}
.contact_form .input_ctphone {
	width:121px;
}
.contact_form .input_email {
	width:220px;
}
.contact_form .hover_user .tips_contair {
	display:block;
	width:121px;
	top:6px;
}
.contact_form .hover_user .tips_contair .bot, .contact_form .hover_user .tips_contair .top {
	right:30px;
}
.contact_form .textbox_b {
	padding:1px 20px 0 2px;
	border:1px solid #bababa;
	height:19px;
	font-size:12px;
	line-height:19px;
	vertical-align:middle;
	overflow:hidden;
	display:inline-block;
}
.contact_form .textbox_b.e_correct, .contact_form .textbox_b.e_error {
	padding-right:20px!important;
}
.contact_form .textbox_b input {
	border:0;
	background:transprent;
	outline:none;
}
.contact_form .textbox_disable {
	background-color:#F3F3F3;
}
.reimbur_info {
	width:950px;
	margin:0 auto 15px auto;
}
.rembur_tab {
	zoom:1;
	margin:10px 15px 0 20px;
}
.rembur_tab:after, .reim_cotacinfo li:after, .delivery_tab:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"\20";
}
.rembur_tab li {
	float:left;
	display:inline;
	margin-right:30px;
}
.rembur_tab .n {
	margin-left:4px;
}
.rembur_tab .highlight {
	color:#ff075b;
}
.rembur_tab .checkbox {
	margin:0 4px 0 0;
}
.delivery_tab {
	padding:10px 15px 0 20px;
	zoom:1;
}
.delivery_tab li {
	float:left;
	margin-right:30px;
	display:inline;
}
.delivery_tab li.tt {
	margin-right:0;
	line-height:20px;
}
.delivery_tab .ttnote {
	clear:both;
	color:#FE0053;
	margin-left:66px;
	margin-right:0;
}
.delivery_tab li.ttzq {
	margin-right:0;
}
.dl_dlv_tab {
	padding:10px 15px 0 20px;
	zoom:1;
}
.dl_dlv_tab dt {
	float:left;
}
.dl_dlv_tab dd {
	line-height:18px;
	margin-left:60px;
	zoom:1;
}
.dl_dlv_tab dd .checkbox {
	margin:-1px 4px 0 0;
*margin-top:2px;
}
.dl_dlv_tab dd .f_red {
	font-weight:bold;
	color:#FE0053;
}
.dl_dlv_tab dd .ttnote {
	color:#FE0053;
}
.dl_dlv_tab dd .m_dlvlst {
	margin-bottom:4px;
}
.rembur_conact {
	margin-top:15px;
}
.rembur_deli {
	clear:both;
	overflow:visible;
	height:1%;
	margin-top:10px;
}
.reim_cotacinfo {
	padding:7px 15px 0 20px;
}
.reim_cotacinfo .textbox_b input {
	border:0 none;
	outline:none;
}
.reim_cotacinfo .textbox_b {
	padding:1px 20px 0 2px;
	border:1px solid #bababa;
	height:19px;
	font-size:12px;
	line-height:19px;
	vertical-align:middle;
	overflow:hidden;
	display:inline-block;
}
.reim_cotacinfo .req, .delivery_tab .req {
	color:#f60;
	font-family:SimSun;
	vertical-align:middle;
	display:inline-block;
	line-height:22px;
	margin:0 7px;
	font-weight:100;
}
.reim_cotacinfo .grey, .delivery_tab .grey {
	color:#888;
}
.reim_cotacinfo .xred, .delivery_tab .xred {
	color:#FE0053;
	font-weight:700;
}
.reim_cotacinfo li {
	padding-top:8px;
	zoom:1;
}
.reim_cotacinfo .ctre_name {
	float:left;
	width:58px;
	text-align:left;
	line-height:22px;
}
.reim_cotacinfo .ctre_inpt {
	float:left;
	width:620px;
	text-align:left;
	line-height:22px;
}
.reim_cotacinfo .radiobox {
	margin:0 4px 0 0;
}
.reim_cotacinfo .mr8 {
	margin:0 8px 0 0;
}
.reim_cotacinfo .adres_ipt .input_adres {
	width:490px;
}
.reim_cotacinfo .input_re1 {
	width:106px;
}
.reim_cotacinfo .eml_code .e_error {
	width:101px;
}
.reim_cotacinfo li em {
	font-family:Arial, Helvetica, sans-serif;
	color:#ff075b;
	font-weight:700;
}
.reim_cotacinfo li cite {
	display:inline-block;
	margin-left:13px;
}
.reim_cotacinfo li .ml10 {
	margin-left:10px;
}
.reim_cotacinfo li .ml20 {
	margin-left:20px;
}
.reim_cotacinfo li .adres_ipt {
	padding-top:8px;
	clear:both;
	width:100%;
}
.reim_cotacinfo li .adres_text {
	padding-bottom:8px;
	_padding-bottom:10px;
}
.reim_cotacinfo li .checkbox2 {
	vertical-align:text-top;
}
.reimbur_info .breim_info {
	padding:10px 15px 0 15px;
	line-height:20px;
	overflow:hidden;
}
.reimbur_info .breim_info .mod_left {
	float:left;
	width:450px;
	margin-right:15px;
	display:inline;
}
.reimbur_info .breim_info h5 {
	font-size:12px;
	font-weight:700;
	margin-bottom:5px;
}
.reimbur_info .breim_info .mod_right {
	float:right;
	width:450px;
	display:inline;
}
.voucher_info {
	padding:10px 15px 0 15px;
	line-height:20px;
}
.voucher_info .voucher_logo {
	float:left;
	padding-top:20px;
	padding-left:30px;
}
.voucher_info .dl_voucher {
	float:left;
	padding-left:40px;
}
.voucher_info .dl_voucher dt {
	font-weight:bold;
	margin-bottom:5px;
}
.reimbur_info .mdl_tip_inline {
	margin:5px 0 0 20px;
	display:inline-block;
*float:left;
*display:inline;
}
